@page
@model Helpdesk.Pages.RoleAdmin.EditModel

@{
    ViewData["Title"] = "Edit Role";
}

<h1>Edit</h1>

<h4>Helpdesk Role</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HelpdeskRole.Id" />
            <div class="form-group col-md-4">
                <label asp-for="HelpdeskRole.Name" class="control-label"></label>
                <input asp-for="HelpdeskRole.Name" class="form-control" />
                <span asp-validation-for="HelpdeskRole.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="HelpdeskRole.Description" class="control-label"></label>
                <input asp-for="HelpdeskRole.Description" class="form-control" />
                <span asp-validation-for="HelpdeskRole.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HelpdeskRole.IsPrivileged" /> @Html.DisplayNameFor(model => model.HelpdeskRole.IsPrivileged)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HelpdeskRole.IsSuperAdmin" /> @Html.DisplayNameFor(model => model.HelpdeskRole.IsSuperAdmin)
                </label>
                <span asp-validation-for="HelpdeskRole.IsSuperAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <h4>Claims held by this Role</h4>
            @for (int i = 0; i < @Model.HelpdeskRole.RoleClaims.Length; i++)
            {
                <input type="hidden" asp-for="@Model.HelpdeskRole.RoleClaims[i].Claim" />
                <input type="hidden" asp-for="@Model.HelpdeskRole.RoleClaims[i].Description" />
                <input type="hidden" asp-for="@Model.HelpdeskRole.RoleClaims[i].WasGranted " />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check-inline form-switch">
                            <input class="form-check-input" type="checkbox" data-toggle="toggle" asp-for="@Model.HelpdeskRole.RoleClaims[i].IsGranted" />
                            &nbsp;
                            <span>@Model.HelpdeskRole.RoleClaims[i].Claim</span>
                            <span>(@Model.HelpdeskRole.RoleClaims[i].Description)</span>
                        </div>
                    </div>
                </div>
                <br />
            }
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
