@page
@model Helpdesk.Pages.RoleAdmin.IndexModel

@{
    ViewData["Title"] = "Roles";
}

<h1>Roles</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HelpdeskRole[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HelpdeskRole[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HelpdeskRole[0].IsPrivileged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HelpdeskRole[0].IsSuperAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HelpdeskRole) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPrivileged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSuperAdmin)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
