@page
@model Helpdesk.Pages.SiteSettings.EditModel

@{
    ViewData["Title"] = "Edit Site Setting";
}

<h1>Edit</h1>

<h4>Configure Setting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Input.Id" />
            <div class="form-group">
                <label asp-for="Input.Category" class="control-label"></label>
                <input asp-for="Input.Category" class="form-control" readonly/>
                <span asp-validation-for="Input.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Key" class="control-label"></label>
                <input asp-for="Input.Key" class="form-control" readonly/>
                <span asp-validation-for="Input.Key" class="text-danger"></span>
            </div>
            @if (Model.Input.ReferenceType == Infrastructure.ReferenceTypes.String)
            {
                <div class="form-group">
                    <label asp-for="Input.Value" class="control-label"></label>
                    <input asp-for="Input.Value" class="form-control" />
                    <span asp-validation-for="Input.Value" class="text-danger"></span>
                </div>
            }
            else if (Model.Input.ReferenceType == Infrastructure.ReferenceTypes.Integer)
            {
                <div class="form-group">
                    <label asp-for="Input.Value" class="control-label"></label>
                    <input type="number" asp-for="Input.Value" class="form-control" />
                    <span asp-validation-for="Input.Value" class="text-danger"></span>
                </div>
            }
            else if (Model.Input.ReferenceType == Infrastructure.ReferenceTypes.Table_SiteNavTemplate ||
                     Model.Input.ReferenceType == Infrastructure.ReferenceTypes.Boolean)
            {
                <div class="form-group">
                    <label asp-for="Input.Value" class="control-label"></label>
                    <select asp-for="Input.Value" class="form-control">
                        @foreach(var opt in Model.DropDownOptions)
                        {
                            if (@opt == @Model.Input.Value)
                            {
                                <option value="@opt" selected>@opt</option>
                            }
                            else
                            {
                                <option value="@opt">@opt</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="Input.Value" class="text-danger"></span>
                </div>
            }
            else
            {
                <p>Bug: The edit screen needs updating to support the option type:</p>
                <p>@Model.Input.ReferenceType.ToString()</p>
                <p>Please report this bug so we can fix it!</p>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
