@page
@model Helpdesk.Pages.TaskStatuses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TaskStatus</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskStatus.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskStatus.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskStatus.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskStatus.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskStatus.IsSystemType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskStatus.IsSystemType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskStatus.IsCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskStatus.IsCompleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TaskStatus?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
