@page
@model Helpdesk.Pages.People.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Helpdesk Users</h1>
<p>
    <a class="btn btn-success" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].GivenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GivenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
