@page
@model Helpdesk.Pages.LicenseTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Helpdesk Users</h1>
<p>
    <a class="btn btn-success" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Input[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input[0].Seats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Input) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                @*<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
