@page
@model Helpdesk.Pages.FileManager.DetailsModel

@{
    ViewData["Title"] = "File Details";
}

<h1>File Details</h1>

<div>
    <h4>FileUpload</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.File.FileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.File.FileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.File.Uploader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.File.Uploader)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.File.Permissions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.File.Permissions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.File.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.File.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.File.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.File.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.File.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.File.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.File.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.File.Location)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@Model.File.Id">Delete</a>&nbsp;&nbsp;
    <a class="btn btn-primary" href="/File/Download?fileid=@Model.File.Id" download="@Model.File.FileName">Download File</a>&nbsp;&nbsp;
    <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
</div>
