<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ViewData[Infrastructure.ViewDataStrings.Brand_SiteName]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Helpdesk.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (@ViewData.ContainsKey("CompleteProfilePrompt") && (!@ViewData.ContainsKey("ActivePage") || @ViewData["ActivePage"]?.ToString() != "Index"))
        {
            <div class="w-100 p-0" style="background-color: darkred; color: white; text-align: center;">
                <h4>Please go to your profile page to complete setup of your account. &nbsp;
                <a class="btn btn-success" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></h4>
            </div>
        }
        @if (@ViewData.ContainsKey("CompleteProfilePrompt") && @ViewData.ContainsKey("ActivePage") && @ViewData["ActivePage"]?.ToString() == "Index")
        {
            <div class="w-100 p-0" style="background-color: sandybrown; color: black; text-align: center;">
                <h4>Enter your details below and click Save to complete the setup of your profile.</h4>
            </div>
        }
        @if (@ViewData.ContainsKey("NagMFAEnrollmentBanner"))
        {
            <div class="w-100 p-0" style="background-color: orange; color: white; text-align: center;">
                <h4>Please enable an authenticator to secure your account and enable site features. &nbsp;
                <a class="btn btn-success" asp-area="Identity" asp-page="/Account/Manage/TwoFactorAuthentication">Authenticator</a></h4>
            </div>
        }
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">@ViewData[Infrastructure.ViewDataStrings.Brand_SiteName]</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @*Add in each nav bar item as specified by the user's nav template*@
                        @if(@ViewData.ContainsKey("NavbarShowTicketLink"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Tickets/Index">Tickets</a>
                            </li>
                        }
                        @if(@ViewData.ContainsKey("NavbarShowAssetLink"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Assets/Index">Assets</a>
                            </li>
                        }
                        @if(@ViewData.ContainsKey("NavbarShowPeopleLink"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/People/Index">People</a>
                            </li>
                        }
                        @if (@ViewData.ContainsKey("NavbarShowConfigurationMenu"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarConfigDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Configuration
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarConfigDropdown">
                                    @if (@ViewData.ContainsKey("NavbarShowSiteSettingsLink"))
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-page="/SiteSettings/Index">Site&nbsp;Settings</a></li>
                                    }
                                    @if (@ViewData.ContainsKey("NavbarShowLicenseTypeLink"))
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-page="/LicenseTypes/Index">License&nbsp;Types</a></li>
                                    }
                                    @if (@ViewData.ContainsKey("NavbarShowGroupsLink"))
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Groups/Index">Groups</a></li>
                                    }
                                    @if (@ViewData.ContainsKey("NavbarShowImportExportLink"))
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-page="/ImportExport/Index">Import/Export</a></li>
                                    }
                                    @if (@ViewData.ContainsKey("NavbarShowAssetTypesLink"))
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-page="/AssetTypes/Index">Asset&nbsp;Types</a></li>
                                    }
                                    @if (@ViewData.ContainsKey("NavbarShowManufacturersLink"))
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Manufacturers/Index">Manufacturers</a></li>
                                    }
                                    @if (@ViewData.ContainsKey("NavbarShowDocumentTypesLink"))
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-page="/DocumentTypes/Index">Document&nbsp;Types</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        @if (@ViewData.ContainsKey("NavbarShowFileManagerLink"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/FileManager/Index">File&nbsp;Manager</a>
                            </li>
                        }
                        @if (!@ViewData.ContainsKey("NavbarSupressPrivacyLink"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - @ViewData[Infrastructure.ViewDataStrings.Brand_SiteName] by @ViewData[Infrastructure.ViewDataStrings.Brand_OrganizationName] - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>