@page
@model Helpdesk.Pages.DocumentTypes.IndexModel

@{
    ViewData["Title"] = "Document Types";
}

<h1>Document Types</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentType[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentType[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DocumentType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.IsSystemType)
                {
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                }
                else
                {
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> <text>|</text>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> <text>|</text>
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
