@page
@model Helpdesk.Pages.Tickets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>My Tickets</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tickets[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets[0].SubmitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets[0].Requester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets[0].Handler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets[0].Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets[0].LastUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets[0].DueDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tickets) {
        <tr>
            <td>
                <a href="/Tickets/Details?id=@item.Id">@item.Title</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitDate)
            </td>
            <td>
                <a href="/People/Details?id=@item.RequesterId">@item.Requester</a>
            </td>
            <td>
                <a href="/People/Details?id=@item.HandlerId">@item.Handler</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
        </tr>
}
    </tbody>
</table>
