@page
@model Helpdesk.Pages.Tickets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>My Tickets</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketMaster[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketMaster[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketMaster[0].CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketMaster[0].DueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TicketMaster) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
